#sidebar{
    width: 225px;
    background-color: #293241;
    height: 100vh;

}
#maindiv{
    width: 100%;
    background-color: aqua;
    height: 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
button:hover{
    color: white;
    

}