<app-header></app-header>
<div class="d-flex">
  <!-- sidebar -->
  <div id="sidebar">
    <div class="mt-5 text-center text-light">
      <a routerLink="/dashboard" class="text-decoration-none text-light">
        <h2><i class="fa-solid fa-id-card-clip me-2"></i>DashBoard</h2>
      </a>
      <a routerLink="/employee" class="text-decoration-none text-light">
        <h2 class="mt-4"><i class="fa-solid fa-users me-2"></i>Employees</h2>
      </a>
    </div>
  </div>

  <!-- Main section -->
  <div class="container-fluid">
    <div class="row p-3">
      <div class="d-flex">
        <h3 class="text-primary">Employee List</h3>
        <button class="btn btn-outline-primary ms-auto">
          <a routerLink="/add-employee" class="text-decoration-none">
          <i class="fa-solid fa-user-plus me-2"></i>Add
          </a>
        </button> 
        
      </div>
      <p class="mt-2">25/11/24, 10:13 AM</p>

      <div class="d-flex mt-5 px-md-5">
        <div class="d-flex">
          <input type="text" placeholder="Username" class="form-control" />
          <div class="dropdown ms-3">
            <button
              class="btn btn-primary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Sort
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="sortByName()" >By Name</a></li>
              <li><a class="dropdown-item" (click)="sortById()" >By ID</a></li>
          </ul>
          </div>
        </div>
        <button class="btn btn-success ms-auto">
          Export <i class="fa-solid fa-file-export ms-2"></i>
        </button>
      </div>
    </div>

    <div class="row p-3 mt-5">
        <div class="col-md-1"></div>
        <div class="col-md-10">
           <table class="shadow table table-bordered">
            <thead>
                <tr>
                    <th class="bg-secondary text-light text-center"> User Id</th>
                    <th class="bg-secondary text-light text-center"> User Name</th>
                    <th class="bg-secondary text-light text-center"> Email</th>
                    <th class="bg-secondary text-light text-center"> Status</th>
                    <th class="bg-secondary text-light text-center"> Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let employee of allEmployee" [hidden]="employee.id ==1">
                    <td class="text-center">{{employee.id}}</td>
                    <td class="text-center">{{employee.empusername}}</td>
                    <td class="text-center">{{employee.empemail}}</td>
                    <td class="text-center">
                      <!-- Conditional rendering -->
                      <button [ngClass]="employee.emostatus === 'active' ? 'btn btn-success' : 'btn btn-warning'">
                        {{ employee.emostatus }}
                      </button>  
                  </td>
                    <td class="d-flex justify-content-evenly text-center">
                        <button class="btn btn-outline-primary"><i class="fa-solid fa-pen"></i></button>
                        <button (click)="removeEmployee(employee.id)" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>

           </table> 
        </div>
        <div class="col-md-1"></div>
    </div>
  </div>
</div>
