<app-header></app-header>

<div class="row w-100 mt-4">
    <div class="col-md-1"></div>
    <div class="col-md-5 d-flex align-items-center justify-content-center">
        <img src="https://img.freepik.com/free-vector/privacy-policy-concept-illustration_114360-7853.jpg?t=st=1732478939~exp=1732482539~hmac=cc90d8e2247c3dd930a152dc5f4e574f310eac79fb59c0f810f185075cc9dd0a&w=740" width="100%" alt="noimg">
    </div>
    <div class="col-md-5 d-flex align-items-center justify-content-center">
        <form action="" class="shadow p-5 w-100 rounded">
            <h3 class="text-center mb-4">Login Form</h3>
            <div class="mb-3">
               <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="mb-3">
                <input type="text" placeholder="Password" class="form-control">
            </div>
            <div class="mb-3 ">
                <button class="btn  w-100">Login</button>
            </div>
        </form>
    </div>
    <div class="col-md-1"></div>
</div>