<app-header></app-header>
<div class="d-flex flex-wrap">
<!-- Sidebar -->
<div id="sidebar" class="col-md-3 text-light p-3">
  <div class="mt-5 text-center">
    <a routerLink="/dashboard" class="text-decoration-none text-light d-flex align-items-center justify-content-center">
      <i class="fa-solid fa-id-card-clip me-2"></i>
      <span class="sidebar-text">DashBoard</span>
    </a>
    <a routerLink="/employee" class="text-decoration-none text-light d-flex align-items-center justify-content-center">
      <i class="fa-solid fa-users me-2 mt-4"></i>
      <span class="sidebar-text mt-4 ">Employees</span>
    </a>
  </div>
</div>


  <!-- Main Content -->
  <div class="container-fluid col-md-10 col-xs-12 mt-4">
    <div class="row pt-3 ps-2">
      <div class="col-md-8 col-sm-12">
        <div id="maindiv" class="shadow mb-4">
          <h2 class="ms-4 text-secondary">
            <i class="fa-solid fa-bars me-3"></i> Welcome Admin!
          </h2>
        </div>
        <div class="row mt-5">
          <!-- Calendar -->
          <div class="col-md-6 col-sm-12 mb-3">
            <mat-card class="shadow demo-inline-calendar-card">
              <mat-calendar [(selected)]="selected"></mat-calendar>
            </mat-card>
          </div>
          <!-- Pie Chart -->
          <div class="col-md-6 col-sm-12 mb-3">
            <highcharts-chart
              [Highcharts]="Highcharts"
              [options]="chartOptions"
              style="width: 100%; height: 400px; display: block"
            ></highcharts-chart>
          </div>
        </div>
      </div>

      <!-- Profile Section -->
      <div class="col-md-4 col-sm-12 mb-4">
        <div
          class="rounded bg-light d-flex justify-content-center align-items-center flex-column shadow p-3"
        >
          <div *ngIf="!isClicked" class="text-center ms-2">
            <img
              [src]="profileimg"
              alt="noimg"
              class="rounded-circle mb-3"
              style="width: 200px; height: 200px"
            />
            <button class="btn btn-primary" (click)="buttonClick()">
              Edit Admin Details <i class="fa-solid fa-pen-nib ms-1"></i>
            </button>
          </div>
          <div *ngIf="isClicked" class="text-center w-100">
            <h3 class="mb-3">Update Admin Details</h3>
            <label for="profileimage">
              <input id="profileimage" type="file" hidden (change)="getFile($event)">
              <img
                [src]="profileimg"
                alt="noimg"
                class="rounded-circle mb-3"
                style="width: 150px; height: 150px"
              />
            </label>
            <form (ngSubmit)="updateAdmin()">
              <div class="mb-3">
                <input
                  type="text"
                  placeholder="Admin Name"
                  class="form-control"
                  name="adminname"
                  [(ngModel)]="AdminDetails.userempusernamename"
                />
              </div>
              <div class="mb-3">
                <input
                  type="text"
                  placeholder="Password"
                  class="form-control"
                  name="adminpass"
                  [(ngModel)]="AdminDetails.password"
                />
              </div>
              <div class="mb-3 d-flex justify-content-between">
                <button class="btn btn-warning" (click)="cancel()">Cancel</button>
                <button type="submit" class="btn btn-success">Update</button>
              </div>
            </form>
          </div>
        </div>
        <div style="height: 170px; background-color: rgb(27, 132, 125)"
          class="rounded  text-light d-flex justify-content-center align-items-center shadow mt-5 p-3"
        >
          <h3><i class="fa-solid fa-users me-2"></i>Employee Count: {{total}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
