/* You can add global styles to this file, and also import other style files */
*{
    font-family: "Raleway", sans-serif;
    margin: 0px;
    padding: 0px;
}
h1, h2, h3, h4, h5, h6 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
